.coverage
__pycache__
.eggs
.cache
*.pyc
*.swp
nosetests*.xml
coverage*.xml
.coverage*
*.egg-info
*.egg
*.log
*.pyc
*.db
*.swp
*.swo
*.zip
*.orig
*.tox
env*/
dist
build
docs/output
docs/_build
*\$py.class
*,cover
